* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.products {
    width: 100%;
    padding: 40px 0;
    text-align: center;
}

.products h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
}

.product-container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.product-card {
    background: #fff;
    border-radius: 14px;
    padding: 20px;
    border: 2px solid #e4e4e4;
    transition: .3s;
}

.product-card:hover {
    border-color: #37c577;
}

.product-card img {
    width: 170px;
    height: 170px;
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 15px;
}

.rating {
    margin: 8px 0;
    font-size: 20px;
    color: #00c853;
}

.product-card p {
    margin: 8px 0;
    font-size: 18px;
}

.old-price {
    text-decoration: line-through;
    color: #777;
}

.new-price {
    color: #00c853;
    font-weight: 600;
}

.buy-btn {
    margin-top: 15px;
    padding: 10px 28px;
    border-radius: 8px;
    border: 2px solid #00c853;
    background: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: .3s;
}

.buy-btn:hover {
    background: #00c853;
    color: #fff;
}
