* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #ffffff;
}

/* HERO SECTION */
.hero {
    width: 100%;
    height: 450px;
    border-radius: 18px;
    margin: 20px auto;
    background: url("Rectangle 8.png") no-repeat center/cover;
    position: relative;
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.35);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay h1 {
    font-size: 42px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 25px;
}

.hero-btn {
    border: none;
    padding: 14px 30px;
    border-radius: 8px;
    background: #08bd4b;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

.hero-btn:hover {
    opacity: 0.85;
}

/* FOOTER SECTION */
footer {
    border-top: 2px solid #cce7df;
    padding: 60px 0;
}

.footer-container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 40px;
}

.footer-col .logo {
    font-size: 30px;
    margin-bottom: 15px;
    color: #009240;
}

.footer-col h3 {
    font-size: 20px;
    margin-bottom: 18px;
}

.footer-col p {
    color: #4b4b4b;
    margin-bottom: 15px;
    line-height: 1.6;
}

.footer-col ul li {
    list-style: none;
    margin: 8px 0;
    cursor: pointer;
    transition: .3s;
}

.footer-col ul li:hover {
    color: #009240;
}

.social-icons i {
    font-size: 20px;
    margin-right: 14px;
    cursor: pointer;
    transition: .3s;
}

.social-icons i:hover {
    color: #009240;
}

.subscribe-box {
    display: flex;
    gap: 8px;
}

.subscribe-box input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #d7d7d7;
}

.subscribe-box button {
    padding: 12px 20px;
    background: #00c853;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.subscribe-box button:hover {
    opacity: .85;
}

/* RESPONSIVE */
@media(max-width: 700px) {
    .overlay h1 {
        font-size: 30px;
    }
}
