
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* PAGE BACKGROUND */
body {
    background-color: #F3FCF7;
    min-height: 100vh;
}

/* NAVBAR */
.navbar {
    width: 100%;
    padding: 30px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #2CA55C;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-links li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

.nav-links li a.active {
    color: #2CA55C;
    font-weight: 600;
}

/* HERO SECTION */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
    gap: 60px;
}

.hero-text {
    max-width: 500px;
}

.hero-text h1 {
    font-size: 55px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 25px;
}

.hero-text p {
    font-size: 16px;
    color: #666;
    margin-bottom: 40px;
    max-width: 400px;
}

.btn {
    background-color: #2CA55C;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    border-radius: 6px;
    font-size: 16px;
}

.hero-img img {
    width: 450px;
    border-radius: 10px;
}

/* LOGO STRIP */
.brand-strip {
    width: 100%;
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    opacity: 0.7;
}

/* FEATURES */
.features {
    width: 100%;
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.feature-card {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    width: 23%;
    text-align: left;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.05);
}

.feature-card h3 {
    margin-bottom: 8px;
}

/* RESPONSIVE */
@media(max-width: 900px) {

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .brand-strip, .features {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .feature-card {
        width: 80%;
    }

}
.first-icon {
    width: 209px;
    height: 69.9px;
    object-fit: contain;
  }
  